<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Xbus</a></li>
            <li><a href="#/<%= name %>">Event nodes</a></li>
            <% if(model) { %>
                <% if(editing) { %>
                    <li><a href="#/<%= name %>/<%= model.id %>/edit">Edit</a></li>
                <% } else { %>
                    <li><a href="#/<%= name %>/<%= model.id %>">View</a></li>
                <% } %>
            <% } else { %>
                <li><a href="#/<%= name %>/create">Create</a></li>
            <% }%>
        </ol>
    </div>
</div>
<form class="record-form">
    <legend><%= model ? (editing ? 'Edit' : 'View') : 'New' %> Event node</legend>
    <label>Service</label>
    <input name="service_id" type="text" value="<%= model ? model.get('service_id') : '' %>"<%= editing ? '' : ' readonly="readonly"' %>>
    <label>Type</label>
    <input name="type_id" type="text" value="<%= model ? model.get('type_id') : '' %>"<%= editing ? '' : ' readonly="readonly"' %>>
    <label>Start</label>
    <input name="start" type="checkbox" value="<%= model ? model.get('start') : '' %>"<%= editing ? '' : ' readonly="readonly"' %>>
    <% if(editing) { %>
        <hr />
        <button type="submit" class="btn"><%= model ? 'Update' : 'Create' %></button>
        <% if(model) { %>
            <input type="hidden" name="id" value="<%= model.id %>" />
            <button class="btn btn-danger delete">Delete</button>
        <% }; %>
    <% }; %>
</form>
