<% if (collection.state.totalPages !== null && collection.state.totalPages > 1) { %>

<div class="pagination">

<button type="button" class="btn btn-default"
    <% if (!collection.hasPreviousPage()) { %>
        disabled="disabled"
    <% } %>
    onclick="switchToPrevPage()">&lt;</button>

<% for (var page_index = 0; page_index < collection.state.totalPages; ++page_index) { %>
    <button type="button" class="btn btn-default
        <% if (page_index === collection.state.currentPage) { %>
            active
        <% } %>
        " onclick="switchPage(<%= page_index %>)"><%= page_index %></button>
<% } %>

<button type="button" class="btn btn-default"
    <% if (!collection.hasNextPage()) { %>
        disabled="disabled"
    <% } %>
    onclick="switchToNextPage()">&gt;</button>

</div>

<% } %>
