<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Xbus</a></li>
            <li><a href="#/<%= name %>">Active roles</a></li>
            <% if(model) { %>
                <% if(editing) { %>
                    <li><a href="#/<%= name %>/<%= model.id %>/edit">Edit</a></li>
                <% } else { %>
                    <li><a href="#/<%= name %>/<%= model.id %>">View</a></li>
                <% } %>
            <% } else { %>
                <li><a href="#/<%= name %>/create">Create</a></li>
            <% }%>
        </ol>
    </div>
</div>
<form class="record-form">
    <legend><%= model ? (editing ? 'Edit' : 'View') : 'New' %> Active role</legend>
    <label>Role</label>
    <input name="role" type="text" value="<%= model ? model.get('role_id') : '' %>"<%= editing ? '' : ' readonly="readonly"' %>>
    <label>ZeroMQ ID</label>
    <input name="zmqid" type="text" value="<%= model ? model.get('zmqid') : '' %>"<%= editing ? '' : ' readonly="readonly"' %>>
    <label>Ready</label>
    <input name="ready" type="checkbox" value="<%= model ? model.get('ready') : '' %>"<%= editing ? '' : ' readonly="readonly"' %>>
    <label>Last action date</label>
    <input name="last_act_date" type="date" value="<%= model ? model.get('last_act_date') : '' %>"<%= editing ? '' : ' readonly="readonly"' %>>
    <% if(editing) { %>
        <hr />
        <button type="submit" class="btn"><%= model ? 'Update' : 'Create' %></button>
        <% if(model) { %>
            <input type="hidden" name="id" value="<%= model.id %>" />
            <button class="btn btn-danger delete">Delete</button>
        <% }; %>
    <% }; %>
</form>
