<a href="#/<%= name %>/create" class="btn btn-primary">New</a>
<hr />
<table class="table striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Consumer</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% _.each(models, function(model) { %>
        <tr>
            <td><%= model.id %></td>
            <td><%= htmlEncode(model.get('name')) %></td>
            <td><%= htmlEncode(model.get('consumer')) %></td>
            <td><%= htmlEncode(model.get('description')) %></td>
            <td><a class="btn" href="#/<%= name %>/<%= model.id %>">View</a></td>
            <td><a class="btn" href="#/<%= name %>/<%= model.id %>/edit">Edit</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<hr />
<p>
    <a href="/">Home</a>
</p>
