<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Xbus Monitor</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/css/bootstrap.min.css">
</head>
<body>


  <div class="container">
    <h1>Eventtype Manager</h1>
    <hr />
    <div class="page"></div>
  </div>


  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

  <script type="text/template" id="xeventtypes-list-template">
    <a href="#/create" class="btn btn-primary">New</a>
    <hr />
    <table class="table striped">
      <thead>
        <tr>
          <th>Name</th><th>Description</th><th></th>
        </tr>
      </thead>
      <tbody>
        <% _.each(xeventtypes, function(xeventtype) { %>
          <tr>
            <td><%= htmlEncode(xeventtype.get('name')) %></td>
            <td><%= htmlEncode(xeventtype.get('description')) %></td>
            <td><a class="btn" href="#/<%= xeventtype.id %>/edit">Edit</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </script>

  <script type="text/template" id="edit-xeventtype-template">
    <form class="edit-xeventtype-form">
      <legend><%= xeventtype ? 'Edit' : 'New' %> Event Type</legend>
        <label>Name</label>
        <input name="name" type="text" value="<%= xeventtype ? xeventtype.get('name') : '' %>">
        <label>Description</label>
        <input name="description" type="text" value="<%= xeventtype ? xeventtype.get('description') : '' %>">
        <hr />
       <button type="submit" class="btn"><%= xeventtype ? 'Update' : 'Create' %></button>
       <% if(xeventtype) { %>
        <input type="hidden" name="id" value="<%= xeventtype.id %>" />
       <button data-xeventtype-id="<%= xeventtype.id %>" class="btn btn-danger delete">Delete</button>
       <% }; %>
    </form>
  </script>

  <script type="text/javascript">
    function htmlEncode(value){
      return $('<div/>').text(value).html();
    }
    $.fn.serializeObject = function() {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;
    };

    //$.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
    //  options.url = 'http://backbonejs-beginner.herokuapp.com' + options.url;
    //  options.url = 'http://localhost:6543' + options.url;
    //});

    var XEventType = Backbone.Model.extend({
      urlRoot: '/api/event_type' // TODO probably not needed
    });

    var XEventTypes = Backbone.Collection.extend({
      model: XEventType,
      
      parse: function(response) {
          console.log('collection response parse', response);
          return response.event_types;
      },
      
      url: '/api/event_type'
    });
    
    var xeventtypes = new XEventTypes();
    
    var XEventTypeListView = Backbone.View.extend({
      el: '.page',
      template: _.template($('#xeventtypes-list-template').html()),
      
      initialize: function() {
          console.log('listview initialize');
      },

      render: function () {
        console.log('collection view render');
        this.$el.html(this.template({xeventtypes: xeventtypes.models}));
        return this;
      },
    });

    var XEventTypeEditView = Backbone.View.extend({
      el: '.page',
      events: {
        'submit .edit-xeventtype-form': 'saveXEventType',
        'click .delete': 'deleteXEventType'
      },
      template: _.template($('#edit-xeventtype-template').html()),
      
      initialize: function(options) {
          console.log('record view initialize', options.id);
          this.record_id = options.id;
          this.model = this.record_id ? xeventtypes.get(this.record_id) : null;
      },

      render: function () {
          console.log('record view render', this.record_id);
          this.$el.html(this.template({xeventtype: this.model}));
          return this;
      },
      
      saveXEventType: function (ev) {
        var xeventtypeDetails = $(ev.currentTarget).serializeObject();
        if (!this.model) { this.model = new XEventType(); }
        this.model.save(xeventtypeDetails, {
          success: function () {
            router.navigate('', {trigger: true});
          }
        });
        return false;
      },
      
      deleteXEventType: function (ev) {
        this.xeventtype.destroy({
          success: function () {
            console.log('destroyed');
            router.navigate('', {trigger:true});
          }
        });
        return false;
      }
    });

    var Router = Backbone.Router.extend({
        routes: {
          "": "home", 
          ":id/edit": "edit",
          "create": "edit",
        }
    });

    var router = new Router;
    router.on('route:home', function() {
        console.log('routing to home');
        var xeventtypeListView = new XEventTypeListView();
        xeventtypeListView.listenTo(xeventtypes, 'sync', xeventtypeListView.render);
        xeventtypes.fetch();
    })
    router.on('route:edit', function(id) {
        console.log('routing to edit');

        // TODO Avoid refreshing the whole collection just for one item.

        // TODO read vs edit vs create

        var xeventtypeEditView = new XEventTypeEditView({id: id});
        xeventtypeEditView.listenTo(xeventtypes, 'sync', xeventtypeEditView.render);
        xeventtypes.fetch();
    })
    Backbone.history.start();
  </script>


</body>
</html> 
